<div class="jumbotron">
	<div class="text-center">
	  <h1>
	  	Jade Certificate System
	  	<br>
	  	<small>--simple、beautiful、responsive</small>
	  </h1>
	  <br>
	  <% unless session[:user_id] %>
	    <a class="btn btn-lg btn-primary" href="<%= login_path %>" role="button">马上登录 <i class="fa fa-sign-in fa-fw"></i></a>
	  <% end %>
      </div>
</div>