<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b><%= @user.ename %></b>，您的账号已经成功开通。</p>
    <hr>
    <br>
    <p>您的登录邮箱为：<b><%= @user.email %></b></p>
    <p>密码默认为：<b><%= @user.password %></b>（建议您首次进入系统后更改密码！！！）</p>
    <br>
    <hr>
    <p>若在使用中存在任何疑问，请联系IT部</p>
  </body>
</html>