<div class="pull-left">
	<p>
		<i class="fa fa-flag"></i> 当前的版本是： <a href="https://github.com/vincentjiang/jade/" target="_blank">V1.0</a>
	</p>
</div>
<div class="pull-right">
	<p>
		对使用系统有任何疑问? 请联系 <a class="btn btn-xs btn-info" href="">IT部 <i class="fa fa-envelope"></i></a>
	</p>
</div>