<div class="pull-left">
	<p>
		<i class="fa fa-flag"></i> Current version is <a href="https://github.com/vincentjiang/jade/" target="_blank">1.0</a>
	</p>
</div>
<div class="pull-right">
	<p>
		Any questions? Contact <a class="btn btn-xs btn-info" href="">IT Department <i class="fa fa-envelope"></i></a>
	</p>
</div>