<%# add navigation right links to this file %>

<% if session[:user_id] %>
	<ul class="nav navbar-nav">
		<li><a href="<%= user_path(session[:user_id]) %>"><i class="fa fa-user"></i></a></li>
		<li><a href=""><i class="fa fa-key"></i></a></li>
		<li><a href="<%= logout_path %>" title="Logout"><i class="fa fa-sign-out"></i></a></li>
	</ul>
<% else %>
	<a class="btn btn-success navbar-btn" href="<%= login_path %>">Login <i class="fa fa-sign-in"></i></a>
<% end %>