<li><a href="<%= users_path %>"><i class="fa fa-user"></i> Users</a></li>
<li><a href=""><i class="fa fa-file"></i> Certificates</a></li>
<li><a href="<%= about_path %>"><i class="fa fa-info-circle"></i> About</a></li>