<%# add navigation right links to this file %>
<li><a href="<%= certificates_path %>"><i class="fa fa-file"></i> Certificates</a></li>
<% if session[:user_id] %>
	<% if User.find(session[:user_id]).role_id == 1 %>
		<li><a href="<%= users_path %>"><i class="fa fa-user"></i> Users</a></li>
		<li><a href="<%= roles_path %>"><i class="fa fa-certificate"></i> Roles</a></li>
	<% end %>
<% end %>
<li><a href="<%= about_path %>"><i class="fa fa-info-circle"></i> About</a></li>